# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
*.egg

# Env files
.env
!.env.example

# Node / Expo
node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Redis dump
*.rdb

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
!terraform.tfvars.example
terraform.tfvars
crash.log
crash.*.log
